html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        
      }
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header {
    margin: 3px;
    text-align: center;
}


h1 {
    color: #ffff;
    margin:50px;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 3px 3px 3px #0072ffff;
}

body {
    background:#00baffff;
    font-family:Arial, Helvetica, sans-serif
}

#return, #return-to-music{
    background:#ffff9fff ;
    color: #000000;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin: 25px;
    width: 300px;
    height: 50px;

}

#return:hover, #return-to-music:hover {
    background: #ff8080ff;
    color: #ffffff;
    font-size: xx-large;

}
