html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        
      }
}
/* ELEMENTS */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header {
    margin: 3px;
    text-align: center;
}

h1 {
    color: #e76f51;
    margin:50px;
    font-size: 6rem;
    font-weight: bolder;
    text-shadow: 3px 3px 3px #8b3706;
}

label{
    color: #e76f51;
    font-size: x-large;
}

body {
    background:#264653;
    font-family:Arial, Helvetica, sans-serif
}

/* BUTTONS */

#about-us, #return-to-music, #apply-settings {
    background:#2a9d8f;
    color: #000000;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin: 25px;
    width: 300px;
    height: 50px;

}

#about-us:hover, #return-to-music:hover, #apply-settings:hover {
    background: #f4a261;
    color: #d9e2e6;
    font-size: xx-large;

}

/* DROPDOWN MENU */

#pick-a-style, #pick-playlist {
    background:#264653 ;
    color: #f4a261;
    border: 2px solid #2a9d8f;
    border-radius: 5px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    width: 100%;
}



/* TOGGLE SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a9d8f;
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #e9c46a;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #e76f51;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #f4a261;
  }
  
input:checked + .slider:before {
    transform: translateX(26px);
  }
  
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

  #current-settings {
      display: none;
      flex-direction: column;
      align-items: center;
      margin: 10px 10px 40px 10px;
      border: #e76f51 solid 4px;
      padding: 10px;
      background-color: #fffaf0ff;
      border-radius: 30px;
      font-size: 20px;
      font-weight: bold;
  }
